body {
  background-color: black;
}
h1 {
    font-size: 4.35em;
    font-weight: 900;
    letter-spacing: -.035em;
    line-height: 1em;
}
p {
    font-size: 1.25em;
    margin: .75em 0 .25em;
    opacity: .75;
}